$screen-xsm-min: 400px;
$screen-sm-min: 579px;
$screen-md-min: 770px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-xxl-min: 2000px;

@mixin xsm {
  @media (max-width: #{$screen-xsm-min}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin xl {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin xxl {
  @media (max-width: #{$screen-xxl-min}) {
    @content;
  }
}
